.App {
  text-align: center;
  margin: 100px;
  background-color: white;
  padding: 100px;
  width: 300px;
  border-radius: 20px;

}

.Counter{
  
  background-color: #0d1d36;
  /* width: 100px; */
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
}
button{
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
/* .Container{
  display: flex;
  align-items:center ;
} */